*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;;
}

/* #region utilities */
:root{
    --primary: #0084fd;
    --light-primary: #b5dcfe;
    --secondary: #9692e5;
    --accent: #fcc15e;
    --darker: #333333;
    --dark: #5b6e7e;
    --card-title-size: 1.5rem;
    --text-size-s: 1rem;
    --text-size-ml: 1.125rem;
    --font-bold: 700;
}

header{
    margin-bottom: 3rem;
    background-color: var(--primary);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.container{
    margin: auto;
    padding: 0 2rem;
}

.row{
    display: flex;
    flex-direction: column;
    margin: 0 -1rem;
}

section{
    margin-bottom: 5rem;
}

.col-12{
    width: 100%;
}

section:nth-child(even){
    background-color: var(--secondary);
}

[class^="col-"]{
    padding: 0 1rem;
}

.card{
    border-radius: 2rem;
}
/* #endregion utilities */

/* #region header */
header a{
    color: white;
}

.display-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.menu-desktop{
    display: none;
}

.menu-desktop a{
    margin: 0 0.75rem;
}

.menu-desktop a:last-child{
    margin-right: 0;
}

.btn-header{
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

p{
    line-height: 1.75rem;
}
/* #endregion header */

/* #region main */

.demo .card{
    background-color: var(--light-primary);
    padding: 2rem;
    margin-bottom: 1rem;
}

.demo h4{
    color: var(--primary);
    text-align: center;
    font-size: var(--card-title-size);
    margin-bottom: 2rem;
}

.demo:first-child h4{
    text-align: left;
}

.demo p{
    color: var(--dark);
    text-align: center;
    font-weight: var(--font-bold);
}

.demo:first-child p{
    text-align: left;
    margin-bottom: 2.5rem;
}

.demo-icon{
    color: var(--primary);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.btn-demo{
    background-color: var(--primary);
    padding: .5rem 2.5rem;
    border-radius: 2rem;
    word-spacing: .25rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: var(--font-bold);
}

.demo img{
    margin-top: 2.5rem;
    margin-bottom: -1.5rem;
    display: flex;
}

.planning h3{
    color: white;
    font-size: 2.125rem;
    margin: 2rem 0;
}

.planning p{
    color: white;
}

.planning .card{
    margin: 3rem 0;
}

.planning .col-12:last-child .card{
    text-align: center;
    background-color: white;
    padding: 3rem;
    margin-top: 0;
}

.planning .col-12:last-child .card p{
    color: black;
    font-style: italic;
    margin-bottom: 3rem;
}

.planning h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.plan-arrow{
    color: black;
    background-color: var(--secondary);
    padding: 0.75rem 1rem;
    border-radius: 50%;
}

.partner{
    text-align: center;
}

.partner h5{
    text-transform: uppercase;
    font-size: 1.1875rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.partner h3{
    font-size: 2.125rem;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.partner .col-12:first-child p{
    margin-bottom: 2rem;
}

.partner .card{
    background-color: var(--secondary);
    padding: 2rem;
    color: white;
}

.partner img{
    height: 200px;
    width: auto;
    clip-path: circle();
}

.fa-quote-left{
    font-size: 1.5rem;
    padding-right: 0.25rem;
}

.fa-quote-right{
    font-size: 1.5rem;
    padding-left: 0.25rem;
}

.partner-name{
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: var(--font-bold);
    font-size: 20px;
    letter-spacing: 0.2rem;
}

/* #endregion main */

/* #region footer */
/* #endregion footer */

/* #region Tablet size */
@media screen and (min-width: 768px){
    p{
        font-size: var(--text-size-ml);
    }

    .container{
        max-width: 1140px;
    }

    .row-md{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-md-4{
        width: calc(100% / 12 * 4);
    }

    .card-h100{
        height: calc(100% - 1.5rem);
    }

    .col-md-6{
        width: calc(100% / 12 * 6);
    }

    .col-md-8{
        width: calc(100% / 12 * 8);
    }

    .demo img{
        width: 50%;
    }

    .planning .col-12:first-child img{
        margin: 8rem 0;
    }

    .planning h3{
        font-size: 4.5rem;
        margin-bottom: 5rem;
    }

}
/* #endregion Tablet size */

/* #region Desktop size */
@media screen and (min-width: 1200px){ 
    .row-lg{
        flex-direction: row;
    }

    .col-lg-4{
        width: calc(100% / 12 * 4);
    }

    .menu-desktop{
        display: block;
    }

    .fa-bars{
        display: none;
    }

    .demo img{
        width: 40%;
    }

    .col-lg-6{
        width: calc(100% / 12 * 6);
        padding: 0 4rem;
    }

    .planning h3{
        font-size: 2.125rem;
    }

    .planning .col-12:last-child .card{
        margin-top: 23rem;
    }
}
/* #endregion Desktop size */

