*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;;
}

/* #region utilities */
:root{
    --primary: #0084fd;
    --light-primary: #b5dcfe;
    --secondary: #9692e5;
    --accent: #fcc15e;
    --darker: #333333;
    --dark: #5b6e7e;
    --card-title-size: 1.5rem;
    --text-size-s: 1rem;
    --text-size-ml: 1.125rem;
    --font-bold: 700;
    --gap-size: 1.5rem;
}

header{
    margin-bottom: 3rem;
    background-color: var(--primary);
}

a{
    text-decoration: none;
}

.container{
    margin: auto;
    padding: 0 2rem;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    flex-wrap: wrap;
}

section{
    margin-bottom: 5rem;
}

section:nth-child(even){
    background-color: var(--secondary);
}

/* #endregion utilities */

/* #region header */
header a{
    color: white;
}

.display-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.menu-desktop{
    display: none;
}

.menu-desktop a{
    margin: 0 0.75rem;
}

.menu-desktop a:last-child{
    margin-right: 0;
}

.btn-header{
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

p{
    line-height: 1.75rem;
}
/* #endregion header */

/* #region main */
.demo{
    background-color: var(--light-primary);
    border-radius: 1.5rem;
    padding: 2rem;
}

.demo h4{
    color: var(--primary);
    text-align: center;
    font-size: var(--card-title-size);
    margin-bottom: 2rem;
}

.demo:first-child h4{
    text-align: left;
}

.demo p{
    color: var(--dark);
    text-align: center;
    font-weight: var(--font-bold);
}

.demo:first-child p{
    text-align: left;
    margin-bottom: 2.5rem;
}

.demo-icon{
    color: var(--primary);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.btn-demo{
    background-color: var(--primary);
    padding: .5rem 2.5rem;
    border-radius: 2rem;
    word-spacing: .25rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: var(--font-bold);
}

.demo img{
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: -2rem;
    display: flex;
}

.planning .col-12:first-child img{
    width: 100%;
    margin: 4rem 0;
}

.planning .col-12:last-child img{
    width: 100%;
    margin: 1rem 0;
}

.planning p{
    color: white;
    margin-bottom: 1.5rem;
}

.planning h3{
    color: white;
    font-size: 2.125rem;
    margin-bottom: 2rem;
}

.planning-center{
    text-align: center;
    padding: 0 1.5rem;
    background-color: white;
    border-radius: 3rem;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
}

.planning-center p{
    color: black;
    font-style: italic;
    margin-bottom: 3rem;
}

.planning h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.plan-arrow{
    color: black;
    background-color: var(--secondary);
    padding: 0.75rem 1rem;
    border-radius: 50%;
}
/* #endregion main */

/* #region footer */
/* #endregion footer */

/* #region Tablet size */
@media screen and (min-width: 768px){
    p{
        font-size: var(--text-size-ml);
    }

    .container{
        max-width: 1140px;
    }

    .row-md{
        flex-direction: row;
    }

    .col-md-4{
        width: calc(100% / 12 * 4 - (var(--gap-size) / 3 * 2));
    }

    .col-md-6{
        width: calc(100% / 12 * 6 - (var(--gap-size) / 2));
    }

    .col-md-8{
        width: calc(100% / 12 * 8 - (var(--gap-size) / 3));
    }

    .demo img{
        width: 50%;
    }

    .planning .col-12:first-child img{
        margin: 8rem 0;
    }

    .planning h3{
        font-size: 4.5rem;
        margin-bottom: 5rem;
    }
}
/* #endregion Tablet size */

/* #region Desktop size */
@media screen and (min-width: 1200px){ 
    .flex-lg{
        display: flex;
    }

    .row-lg{
        flex-direction: row;
    }

    .col-lg-4{
        width: calc(100% / 12 * 4 - (var(--gap-size) / 3 * 2));
    }

    .col-lg-6{
        width: calc(100% / 12 * 6 - (var(--gap-size) / 2));
    }

    .menu-desktop{
        display: block;
    }

    .fa-bars{
        display: none;
    }

    .demo img{
        width: 40%;
    }

    .planning > div{
        align-items: flex-end;
        padding-bottom: 3rem;
    }

    .planning h3{
        font-size: 2.125rem;
    }

    .planning-center{
        height: 100%;
        margin-bottom: 1.5rem;
    }
}
/* #endregion Desktop size */

